@font-face {
    font-family: 'Sequoia';
    src: url('fonts/Sequoia.otf');
}

@font-face {
    font-family: 'Satisfy';
    src: url('fonts/Satisfy-Regular.ttf');
}

@font-face {
    font-family: 'fearless';
    src: url('fonts/carla-sans-light.otf');
}

header {
    background-color: pink;
    margin: -10px;
    padding: 5px;
    z-index: 1000;
}

h1 {
    font-family: 'Sequoia';
    margin-left: 1.5%;
    font-size: 30px;
    color: white;
}

h2 {
    font-family: Satisfy;
    font-size: 70px;
    color: #AE4C75;
}

p {
    font-family: fearless;
    font-size: 28px;
    margin-left: 7%;
}

.th {
    font-size: 15px;
    margin-top: -60px;
    margin-left: 48px;
    padding-top: 0%;
}

.eras {
    margin-top: 0px;
    padding-top: 0px;
    transform: scaleX(0.86);
    transform-origin: 0%;
}

.ever {
    margin-top: -23px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
}

.left {
    padding-left: 50px;
}

.right {
    width: 400px;
    position: relative;
    left: -120px;
}

.right img {
    width: 100%;
    height: auto;
    transform-origin: center;
    transition: transform 0.5s ease;
}

.vinilo {
    width: 70%;
    height: auto;
    animation: girar 4s linear infinite;
    transform-origin: center;
    animation-play-state: paused; /* La animación comienza en pausa */
}


@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.audio-controls {
    margin-top: 20px;
    width: 60%;
}

.my_lover {
    margin-top: 120px;
    margin-right: 50%;
}

.you_are {
    margin-left: 55%;
    margin-top: -280px;
}

.my {
    padding-top: 0px;
    margin-top: -80px;
    margin-left: 150px;
}

.lover {
    padding-top: 0px;
    margin-top: -80px;
    margin-left: 60px;
}